<link rel="stylesheet" href="./css/favorite-recipes.css" />

<section class="favorite-recipes-section">
  <div class="favorites-hero"></div>
  <div id="favorite-recipes-container" class="favorite-recipes-list"></div>
  <div class="favorites-placeholder">
    <svg class="placeholder-icon">
      <use href="./img/sprite.svg#icon-chef-cap"></use>
    </svg>
    <p class="favorites-placeholder-text">
      It appears that you haven't added any recipes to your favorites yet. To
      get started, you can add recipes that you like to your favorites for
      easier access in the future.
    </p>
  </div>
  <div id="favorites-pagination" class="favorites-pagination"></div>
</section>

<script type="module" src="./js/favorite-recipes.js"></script>
