<link rel="stylesheet" href="./css/home-hero.css" />
<section class="container hero">
  <div class="hero-text">
    <h1>
      LEARN TO COOK <span class="highlight">TASTY TREATS'</span> CUSTOMIZABLE MASTERCLASS
    </h1>
    <p>
      TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step Video Guides.
    </p>
    <button class="hero-btn">Order now</button>
  </div>

  <!-- Carousel -->
  <section class="carousel-section">
   <div class="slider">
  <div class="slides-wrapper">
    <div class="slides">
      <div class="slide small">
        <img src="../img/hero1.png" alt="Dish 4" />
      </div>
      <div class="slide-main">
        <img src="../img/hero3.png" alt="Dish 5" />
      </div>
      <div class="slide-partial">
        <img src="../img/hero33.png" alt="Dish 6" />
      </div>
    </div>

    <div class="slides">
      <div class="slide small">
        <img src="../img/hero2.1.jpg" alt="Dish 4" />
      </div>
      <div class="slide-main">
        <img src="../img/hero2.3.jpg" alt="Dish 5" />
      </div>
      <div class="slide-partial">
        <img src="../img/hero2.2.jpg" alt="Dish 6" />
      </div>
    </div>

    <div class="slides">
      <div class="slide small">
        <img src="../img/hero3.1.jpg" alt="Dish 4" />
      </div>
      <div class="slide-main">
        <img src="../img/hero3.2.jpg" alt="Dish 5" />
      </div>
      <div class="slide-partial">
        <img src="../img/hero3.3.jpg" alt="Dish 6" />
      </div>
    </div>
  </div>

  <div class="dots">
    <span class="dot active"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>
</div>

  </section>
</section>

<script src="./js/home-hero.js"></script>
