.hidden {
  display: none;
}

.favorite-recipes-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
  gap: 24px;
  width: 335px;
  margin: 0 auto;
}

.favorite-recipe-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 335px;
  border-radius: 12px;
  overflow: hidden;
  color: #ffffff;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.favorite-recipe-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.favorite-recipe-card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.favorite-recipe-card-details {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  margin: 16px;
  gap: 8px;
}

.favorite-recipe-title,
.favorite-recipe-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.favorite-recipe-text {
  width: 303px;
  -webkit-line-clamp: 2;
}

.see-recipe-btn {
  font-weight: 500;
  font-size: 12px;
}

.favorite-recipe-card-footer {
  display: flex;
  justify-content: space-between;
  margin-right: 16px;
}

.favorite-heart-btn:hover svg {
  stroke: #ffffff;
  fill: rgba(255, 255, 255, 0.4);
}

@media only screen and (min-width: 768px) {
  .favorite-recipes-list {
    grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
    gap: 16px;
    width: 704px;
  }
  .favorite-recipe-card {
    flex-direction: row;
    height: 244px;
  }
  .favorite-recipe-card-details {
    width: 192px;
    gap: 12px;
    margin-top: 123px;
  }

  .favorite-recipe-text {
    width: 192px;
  }

  .rating-box {
    display: flex;
    gap: 1px;
    width: 96px;
    height: 18px;
  }

  .favorite-recipe-card-footer {
    width: 192px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
}

@media only screen and (min-width: 1280px) {
  .favorite-recipes-list {
    grid-template-columns: repeat(auto-fill, minmax(258px, 1fr));
    width: 1080px;
  }

  .favorite-recipe-card {
    height: 287px;
  }

  .favorite-recipe-card-details {
    width: 226px;
    margin-top: 166px;
  }

  .favorite-recipe-text {
    width: 226px;
  }

  .rating-box {
    gap: 4px;
    width: 116px;
  }

  .favorite-recipe-card-footer {
    width: 226px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
}
